# A2A Dependencies
a2a-sdk
starlette   
click

langchain
langchain-google-genai
langgraph
fastapi
uvicorn
qdrant-client
pydantic
torch
transformers
pillow
python-multipart
httpx
httpx-sse
python-dotenv
requests